html{
    font-size: 20px;
    color: #e3e3e3;
    font-family: Helvetica, sans-serif;
}
body{
    box-sizing: border-box;
    background-color: #1f1d21;
}
/* PARTIE HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 10vh;
}
header aside{
    display: flex;
    margin-left: 3rem;
}
nav a{
    padding: 1rem;
    color: #e3e3e3;
    text-decoration: none;
    font-weight: 500;
}
header aside p{
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    top: 0.7rem;
    padding-left: 0.5rem;
}
.search img{
    position: relative;
    height: 40px;
    top: 13px;
    left: -95px;
}
input{
    margin-right: 35px;
    border-left: none;
    background-color: inherit;
    padding: 0.5rem 1.5rem;
    text-align: left;
    font-size:0.8rem;
    border-radius: 20px;
    color: white;
}
/* PARTIE CENTRALE */
main{
    height: 70vh;
}
/* SECTION GAUCHE */
.left-section{
    width: 50%;
    float: left;
}
h1{
    font-size: 3.5rem;
    font-weight: 700;
    padding: 3rem 7rem 3rem 7rem;
    line-height: 80px;
}
h1 span{
    background-image: linear-gradient(to right, #f3453d, #bc64a0);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.left-section nav{
    display: flex;
    justify-content: center;
}
.left-section button{
    color: #e3e3e3;
    background-color: #1f1d21;
    font-size: 0.9rem;
    border-radius: 50px;
    padding: 0.7rem 1rem;
    margin: 0 3rem 1rem 0;
}
.table{
    padding: 1.5rem 0;
    margin: auto;
    width: fit-content;
}
.table-tittle{
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
    justify-content: space-around;
}
.table h4{
    padding: 0.2rem 1.5rem;
}
.border{
    border-right: solid 1.5px white;
}
.color{
    background-image: linear-gradient(to right,#fe8373, #fda24b, #f3453d, #7e4ba8, #252756);
    border: none;
    text-shadow: 1px 1px 2px rgb(90, 89, 89);
}
.nocolor{
    border: linear-gradient(#fe8373,#f3453d, #252756) solid 2px;
}

/* SECTION DROITE */
.right-section{
    width: 50%;
    float: right;
    height: 100%;
}
.circle-background{
    background-image: linear-gradient(to right,#fe8373, #fda24b, #f3453d, #7e4ba8, #252756);;
    height: 24rem;
    width: 24rem;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top: 35px;
}
.big-pic{
    position: absolute;
    height: 69vh;
    left: -130px;
}
section aside{
    display: flex;
    position: relative;
    background-color: #e3e3e33f;
    width: 200px;
    border-radius: 10px;
    padding: 0.5rem;
    top: 280px;
    left: 280px;
    justify-content: space-between;
}
.aside-div-left{
    text-align: left;
}
.aside-div-right{
    text-align: right;
}
section aside button{
    background-image: linear-gradient(to right,#fe8373, #fda24b, #f3453d, #7e4ba8, #252756);
    border: none;
    color: inherit;
    text-shadow: 1px 1px 2px rgb(90, 89, 89);
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
    justify-self: center;
    margin-top: 10px;
}
section aside p, section aside h3{
    padding: 10px 0 5px 0;
    text-shadow: 1px 1px 2px rgb(90, 89, 89);
    font-size: .75rem;
}
/* PARTIE FOOTER */
footer{
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    padding: 1.55rem;
}
footer div{
    display: flex;
    width: 25%;
}
footer p{
    padding-top: 0.3rem;
    padding-left: 0.75rem;
    width: 50%;
    font-size: 1rem;
    line-height: 1.5rem;
}
img{
    height: 65px;
}
